* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0px;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    background-color: black;
    letter-spacing: 1px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.container {
    border:1px solid red;
    height: 100%;
}

.section {
    padding: 0.8em;
}

.block-center {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 550px) {
    .container {
        max-width: 750px;
    }    
}

@media (min-width: 960px) {
    .container {
        max-width: 1024px;
    }
}